[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cefpython3 = "*"
opencv-python = "*"
pillow = "*"
htmlmin = "*"
dominate = "*"
python-lorem = "*"
pytesseract = "*"
matplotlib = "*"
python-levenshtein = "*"
progressbar2 = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
